
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body {
    color: white;
}
a {
    color: rgb(190, 190, 190);
}
.martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  button {
    background-color: red;
    color: white;
    border-radius: 5%;
    border: none;
} 
button:hover {
    background-color: #c20b15;
} 

select {
    color: white;
    background-color: black;
    border: 0.5px solid white;
    border-radius: 5px;
    position: relative;
    height: 35px;
    width: 170px;
    z-index: 9;
    right: 80px;
    font-weight: bold;
    font-size: large;
    margin-left: 25%;
    
}

.lang-icon {
    height: 20px;
    position: absolute;
    z-index: 9;
    right: 19.7%;
    top:43%
}

.top-buttons {
    display: flex;
    flex-direction: row;
    
}
.top-buttons button {
    width: 120px;
    height: 35px;
    color: white;
    font-size: larger;
    z-index: 9;
}

.main {
background-image: url("./media/netflix-background.jpg");
background-size: cover ;
position: relative;
height: 100%;
margin-top: -8px;  
}
.main img {
    transform: scale(1.25) translateY(-10%);
    
}
.main .blackScreen {
    height: 100%;
    background-color: black; 
    background-position: center center;
    opacity: 0.6;
    position: absolute;
    top: 0;

    width: 100%;

}
nav {
    display: flex;
    width: 80%;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content:space-between;  
}
.logo {
    height: 130px;
    opacity: 1;
    position: relative;
    z-index: 9999;
}
button {
    height: 30px;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding-top: 120px;
    text-align: center;

}


.text :nth-child(2) {
    font-size: 20px;
    font-family: "Marterl", sans-serif ;
    font-weight: 300;
    margin-top: -30px;
    text-align: center;
    margin: 1%;
}
.text :nth-child(3) {
    font-size: 20px;
    font-family: "Marterl", sans-serif ;
    font-weight: 300;
    text-align: center;
    margin: 1%;
}
.input-div-container {
    /* display: flex; */
    width: 80%;
   align-self: center;
   justify-content: center;
   align-items: center;
  
}.input-div-container button {
    height: 50px;
    width: 200px;
    margin-left: 10px;
    align-self: center;
    margin-bottom: -30px;
    text-align: center;
}
input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid gray;
    border-radius: 10px;
    height: 50px;
    width: 350px; 
    color: white;
    font-size: large;
   
}
input::placeholder{
    color: gray;
    font-size:medium; 
    font-weight: lighter;
    
}
.banner {
flex-direction: row;
display: flex;
width: 100%;
height: 150px;
background: rgb( 14, 27, 79 );
background: radial-gradient(31.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
margin-top:105px ;
box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.8);
align-items: center;
align-self: center;
justify-content: center;


}
.banner img {
    height: 70px;
    margin: auto;
    
};


.b-t{
    /* display: flex; */
    /* display: flex; */
    /* flex-direction: column; */
}


#b-t{
    display: flex;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-items: center;
    font-family: "Marterl", sans-serif;
    text-align: left;
    position: absolute;
   
}

#b-t span{
    text-align: left;
    font-size: larger;
   
}



.blackScreen-2 {
    background-color: black;
    height: 100%;
    width:100%;
    padding-bottom: 5%;
}
.section-2 {
    display: flex;
    justify-content: center;
    
}

.section-text{
    
    width: 40%;
    text-align: center;
    align-self: center; 
    padding: 5px;
    
    
}

.section-first-text{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: justify;
    
  }

  .second-second-text{  
    font-family:"Martel", sans-serif;
    font-size: 25px;
    text-align: left;
    width: 90%;
    margin-top: 5px;
  }

  .section-image {
    height: 350px;
    position:relative;
  }

  .section-2 img {
    height: 100%;  
    position: relative;
    z-index: 10;
} 
.section-2 video {
    height: 192px;
    position: absolute;
    top: 73px;
    left: 62px;
}
.gray-line{
    width: 100%;
    height: 10px;

    background-color: rgb(50, 50, 50);
}
/* ----------------------------------------------- */
.section-22{
    display: flex;
    justify-content: center;
    padding-top: 10%;
   
}

.section-text{
    
    width: 40%;
    text-align: center;
    align-self: center; 
    padding: 5px;
    
    
}

.section-first-text{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: left;
    
  }

  .second-second-text{  
    font-family:"Martel", sans-serif;
    font-size: 25px;
    text-align: left;
    width: 90%;
    margin-top: 5px;
    margin-left: 10px;
  }

  .section-image {
    height: 350px;
    position:relative;
  }

  .section-22 img {
    height: 100%;  
    position: relative;
    z-index: 10;
} 
.section-22 video {
    height: 140px;
    position: absolute;
    top: 50px;
    left: 120px;
}

.poster-container {
    height: 90px;
    width: 275px;
    border: solid 2px gray;
    position: absolute;
    bottom: 35px;
    z-index: 10;
    left: 94px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    align-items: center;
}

.poster-container img {
    height: 85%;
    margin: 8px;
}

.poster-container-text {
    display: flex;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
    font-size: 14px;
}

.poster-container-text .downloading {
    color: blue;
}
.blackScreen-2 {
    font-family: "Martel Sans", sans-serif;
    
}
.title {
    font-size: 45px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;

}
 
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq {
    width: 70%;
    height: 90px;
    background-color: rgb(41, 41, 41);
   margin: 0.3%;
   display: flex;
   flex-direction: row;
   font-family: "Martel Sans", sans-serif;
   font-size: 30px;
   font-weight: lighter;
}
.faq:hover {
    background-color: rgb(60,60,60);
}
    
.faq-question {
    width: 85%;
    text-align: left;
    padding-left: 15px;
    align-content: center;
    margin: auto;  
}
.faq .plus {
    text-align: right;
    font-size: 50px;
    font-weight: lighter;
    margin: auto;
    /* border: solid white 4px; */
}

.tail-text{  
    font-family:"Martel", sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 90%;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 3%;
    margin: auto;
  }

  .tail-text .input-div-container {
    padding: 1%;
    margin: auto;
  }
  .tail-text .input-div-container  button{
    font-size: larger;
  }

  .footer {
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 5%;
    font-size: 15px;
  }

  .footer-list {
    
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
  }

    
  table {
    width: 100%;
    align-self:auto;
    border-spacing: 5px;
    margin: auto;
    margin-top: 2%;
    padding-bottom: 10%;
  }
 td {
    width: 25%;
    padding: 2px;
 }

 .bottom-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    position: relative;
    width: 0%;
    
}
.bottom-buttons button {
    width: 120px;
    height: 35px;
    color: white;
    font-size: larger;
    z-index: 9;
    position: relative;
    
}

.bottom-buttons .lang-icon {
    
        height: 20px;
        position: relative;
        z-index: 9;
        position: absolute;
        margin-top: -5px; 
        align-self:center;
        justify-self: left;
      

    
}

